body {
  background: #073642;
  color: #ffffff;
  font: 20px/1.5 sans-serif;
  margin: 0 auto;
  max-width: 30em;
}

.header {
  font-size: 2em;
  line-height: 3em;
  margin: 0;
  text-align: center;
}

.header a {
  color: #268bd2;
  text-decoration: none;
}

.info {
  margin: 0;
  text-align: center;
}

.watching {
  font-size: 16px;
  font-family: monospace;
  white-space: nowrap;
}

.replays {
  list-style: none;
  margin: 1.5em 0.75em;
  padding: 0;
}

.replay {
  border: 1px solid;
  padding: 0.75em;
}

.replay + .replay {
  margin-top: -1px;
}

.name {
  margin: 0;
  text-align: center;
}

.date {
  margin: 0;
  text-align: center;
}
